statemachine/bulk_evidence_import.asl.json
{
  "Comment": "Bulk Evidence Import Pipeline with EMR Serverless",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidateBulkImportFunction}",
        "Payload": {
          "run_id.$": "$.run_id",
          "input_path.$": "$.input_path"
        }
      },
      "ResultPath": "$.validation",
      "Next": "ProcessWithEMR",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },
    
    "ProcessWithEMR": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startJobRun",
      "Parameters": {
        "ApplicationId": "${EMRServerlessApplicationId}",
        "ExecutionRoleArn": "${EMRExecutionRoleArn}",
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "s3://${PheBeeBucketName}/scripts/bulk_evidence_processor.py",
            "EntryPointArguments": [
              "--run-id", "$.run_id",
              "--input-path", "$.input_path", 
              "--iceberg-database", "${IcebergDatabase}",
              "--iceberg-table", "${IcebergEvidenceTable}",
              "--output-bucket", "${PheBeeBucketName}",
              "--neptune-cluster", "${NeptuneClusterEndpoint}"
            ],
            "SparkSubmitParameters": "--conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions --conf spark.sql.catalog.glue_catalog=org.apache.iceberg.spark.SparkCatalog --conf spark.sql.catalog.glue_catalog.warehouse=s3://${PheBeeBucketName}/iceberg-warehouse --conf spark.sql.catalog.glue_catalog.catalog-impl=org.apache.iceberg.aws.glue.GlueCatalog --conf spark.sql.catalog.glue_catalog.io-impl=org.apache.iceberg.aws.s3.S3FileIO"
          }
        },
        "ConfigurationOverrides": {
          "MonitoringConfiguration": {
            "S3MonitoringConfiguration": {
              "LogUri": "s3://${PheBeeBucketName}/emr-logs/"
            }
          }
        }
      },
      "ResultPath": "$.emr_result",
      "Next": "WaitForEMRJob",
      "Retry": [{
        "ErrorEquals": ["States.ALL"],
        "IntervalSeconds": 30,
        "MaxAttempts": 2,
        "BackoffRate": 2.0
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },
    
    "WaitForEMRJob": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckEMRJobStatus"
    },
    
    "CheckEMRJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:emrserverless:getJobRun",
      "Parameters": {
        "ApplicationId": "${EMRServerlessApplicationId}",
        "JobRunId.$": "$.emr_result.JobRunId"
      },
      "ResultPath": "$.job_status",
      "Next": "IsEMRJobComplete"
    },
    
    "IsEMRJobComplete": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.job_status.JobRun.State",
        "StringEquals": "SUCCESS",
        "Next": "StartNeptuneBulkLoad"
      }, {
        "Or": [
          {"Variable": "$.job_status.JobRun.State", "StringEquals": "FAILED"},
          {"Variable": "$.job_status.JobRun.State", "StringEquals": "CANCELLED"}
        ],
        "Next": "NotifyFailure"
      }],
      "Default": "WaitForEMRJob"
    },
    
    "StartNeptuneBulkLoad": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${StartNeptuneBulkLoadFunction}",
        "Payload": {
          "run_id.$": "$.run_id",
          "ttl_files.$": "$.emr_result.JobRunId",
          "neptune_cluster": "${NeptuneClusterEndpoint}"
        }
      },
      "ResultPath": "$.bulk_load",
      "Next": "MonitorNeptuneBulkLoad",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },
    
    "MonitorNeptuneBulkLoad": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CheckNeptuneBulkLoadStatusFunction}",
        "Payload": {
          "load_id.$": "$.bulk_load.Payload.load_id"
        }
      },
      "ResultPath": "$.load_status",
      "Next": "IsBulkLoadComplete",
      "Retry": [{
        "ErrorEquals": ["States.ALL"],
        "IntervalSeconds": 10,
        "MaxAttempts": 3
      }]
    },
    
    "IsBulkLoadComplete": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.load_status.Payload.status",
        "StringEquals": "LOAD_COMPLETED",
        "Next": "NotifySuccess"
      }, {
        "Variable": "$.load_status.Payload.status",
        "StringEquals": "LOAD_FAILED", 
        "Next": "NotifyFailure"
      }],
      "Default": "WaitForBulkLoad"
    },
    
    "WaitForBulkLoad": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "MonitorNeptuneBulkLoad"
    },
    
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NotifyBulkImportCompleteFunction}",
        "Payload": {
          "run_id.$": "$.run_id",
          "status": "SUCCESS",
          "emr_job_id.$": "$.emr_result.JobRunId",
          "load_id.$": "$.bulk_load.Payload.load_id"
        }
      },
      "End": true
    },
    
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke", 
      "Parameters": {
        "FunctionName": "${NotifyBulkImportFailureFunction}",
        "Payload": {
          "run_id.$": "$.run_id",
          "status": "FAILED",
          "error.$": "$.error"
        }
      },
      "End": true
    }
  }
}
