statemachine/import_phenopackets.asl.json
{
    "Comment": "Process phenopackets from zip file",
    "StartAt": "ParseZipFile",
    "States": {
        "ParseZipFile": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${ParsePhenopacketCollectionFunctionArn}",
                "Payload": {
                    "project_id.$": "$.project_id",
                    "s3_path.$": "$.s3_path",
                    "output_s3_path.$": "$.output_s3_path"
                }
            },
            "Next": "ImportPhenopacketsMap"
        },
        "ImportPhenopacketsMap": {
            "Type": "Map",
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket.$": "$.Payload.bucket",
                    "Key.$": "$.Payload.key"
                }
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "Comment": "Process standard phenopackets to phebee input arguments.",
                "StartAt": "RenameInput",
                "States": {
                    "RenameInput": {
                        "Type": "Pass",
                        "ResultPath": "$.Data.Phenopacket",
                        "OutputPath": "$.Data",
                        "Next": "ProcessPhenopacket"
                    },
                    "ProcessPhenopacket": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${ProcessPhenopacketFunctionArn}",
                            "Payload.$": "$"
                        },
                        "ResultPath": "$.ProcessedData",
                        "Next": "CreateSubject"
                    },
                    "CreateSubject": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${CreateSubjectFunctionArn}",
                            "Payload.$": "$.ProcessedData.Payload.subject_payload"
                        },
                        "ResultPath": "$.CreateSubjectResult",
                        "Next": "ParseSubjectBody"
                    },
                    "ParseSubjectBody": {
                        "Type": "Pass",
                        "Parameters": {
                            "parsed_subject.$": "States.StringToJson($.CreateSubjectResult.Payload.body)"
                        },
                        "ResultPath": "$.ParsedSubject",
                        "Next": "PrepareEvidencePayload"
                    },
                    "PrepareEvidencePayload": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${PrepareEvidencePayloadFunctionArn}",
                            "Payload": {
                                "evidence_payload.$": "$.ProcessedData.Payload.evidence_payload",
                                "subject_id.$": "$.ParsedSubject.parsed_subject.subject.subject_id"
                            }
                        },
                        "ResultPath": "$.PreparedEvidence",
                        "Next": "CreateEvidenceMap"
                    },
                    "CreateEvidenceMap": {
                        "Type": "Map",
                        "ItemsPath": "$.PreparedEvidence.Payload.fixed_evidence_payload",
                        "MaxConcurrency": 32,
                        "ItemProcessor": {
                            "StartAt": "CreateEvidence",
                            "States": {
                                "CreateEvidence": {
                                    "Type": "Task",
                                    "Resource": "arn:aws:states:::lambda:invoke",
                                    "Parameters": {
                                        "FunctionName": "${CreateEvidenceFunctionArn}",
                                        "Payload.$": "$"
                                    },
                                    "End": true
                                }
                            }
                        },
                        "ResultPath": "$.CreateEvidenceResult",
                        "End": true
                    }
                }
            },
            "MaxConcurrency": 32,
            "ResultSelector": {
                "subject_ids": "$[*].ProcessedData.subject_id"
            },
            "ResultPath": "$.Summary",
            "Next": "MaterializeProjectSubjectTerms"
        },
        "MaterializeProjectSubjectTerms": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${MaterializeProjectSubjectTermsFunction}",
                "Payload": {
                    "project_id.$": "$$.Execution.Input.project_id"
                }
            },
            "ResultPath": "$.MaterializationResult",
            "End": true
        }
    }
}