statemachine/rebuild_materialized_data.asl.json
{
  "Comment": "Rebuild Materialized Data Pipeline with inline validation - operational tool for hash migration, disaster recovery, and schema changes",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidateRebuildInputFunction}",
        "Payload.$": "$"
      },
      "ResultPath": "$.validation",
      "Next": "CheckValidationPassed",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "CheckValidationPassed": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.validation.Payload.validated",
        "BooleanEquals": true,
        "Next": "CheckRebuildEvidence"
      }],
      "Default": "NotifyFailure"
    },

    "CheckRebuildEvidence": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.rebuildEvidence",
        "BooleanEquals": true,
        "Next": "GatherEvidenceBaselineStats"
      }],
      "Default": "CheckRebuildIceberg"
    },

    "GatherEvidenceBaselineStats": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GatherEvidenceBaselineStatsFunction}",
        "Payload": {
          "runId.$": "$.validation.Payload.runId",
          "icebergDatabase": "${IcebergDatabase}",
          "evidenceTable": "${IcebergEvidenceTable}",
          "region": "${AWSRegion}"
        }
      },
      "ResultPath": "$.evidenceBaseline",
      "Next": "RehashEvidence",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "RehashEvidence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startJobRun.sync",
      "Parameters": {
        "ApplicationId": "${EMRServerlessApplicationId}",
        "ExecutionRoleArn": "${EMRExecutionRoleArn}",
        "Name.$": "States.Format('RehashEvidence-{}', $.validation.Payload.runId)",
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "s3://${PheBeeBucketName}/scripts/rebuild/rehash_evidence.py",
            "EntryPointArguments.$": "States.Array('--run-id', $.validation.Payload.runId, '--iceberg-database', '${IcebergDatabase}', '--evidence-table', '${IcebergEvidenceTable}', '--region', '${AWSRegion}')",
            "SparkSubmitParameters": "--conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions --conf spark.sql.catalog.glue_catalog=org.apache.iceberg.spark.SparkCatalog --conf spark.sql.catalog.glue_catalog.warehouse=s3://${PheBeeBucketName}/iceberg-warehouse --conf spark.sql.catalog.glue_catalog.catalog-impl=org.apache.iceberg.aws.glue.GlueCatalog --conf spark.sql.catalog.glue_catalog.io-impl=org.apache.iceberg.aws.s3.S3FileIO"
          }
        },
        "ConfigurationOverrides": {
          "MonitoringConfiguration": {
            "S3MonitoringConfiguration": {
              "LogUri": "s3://${PheBeeBucketName}/emr-logs/"
            }
          }
        }
      },
      "ResultPath": "$.rehashResult",
      "Next": "ValidateRehash",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "ValidateRehash": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidateRehashFunction}",
        "Payload": {
          "runId.$": "$.validation.Payload.runId",
          "icebergDatabase": "${IcebergDatabase}",
          "evidenceTable": "${IcebergEvidenceTable}",
          "region": "${AWSRegion}",
          "baseline.$": "$.evidenceBaseline.Payload"
        }
      },
      "ResultPath": "$.rehashValidation",
      "Next": "CheckRehashValidation",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "CheckRehashValidation": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.rehashValidation.Payload.valid",
        "BooleanEquals": false,
        "Next": "NotifyFailure"
      }, {
        "Variable": "$.rehashValidation.Payload.valid",
        "BooleanEquals": true,
        "Next": "CheckRebuildIceberg"
      }],
      "Default": "NotifyFailure"
    },

    "CheckRebuildIceberg": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.rebuildIceberg",
        "BooleanEquals": true,
        "Next": "GatherIcebergBaselineStats"
      }],
      "Default": "CheckRebuildNeptune"
    },

    "GatherIcebergBaselineStats": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GatherIcebergBaselineStatsFunction}",
        "Payload": {
          "runId.$": "$.validation.Payload.runId",
          "icebergDatabase": "${IcebergDatabase}",
          "evidenceTable": "${IcebergEvidenceTable}",
          "dynamodbTable": "${DynamoDBTableName}",
          "region": "${AWSRegion}"
        }
      },
      "ResultPath": "$.icebergBaseline",
      "Next": "ClearAnalyticalTables",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "ClearAnalyticalTables": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "TruncateBySubjectTable",
          "States": {
            "TruncateBySubjectTable": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${TruncateIcebergTableFunction}",
                "Payload": {
                  "database": "${IcebergDatabase}",
                  "table": "${IcebergSubjectTermsBySubjectTable}",
                  "region": "${AWSRegion}"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "TruncateByProjectTermTable",
          "States": {
            "TruncateByProjectTermTable": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${TruncateIcebergTableFunction}",
                "Payload": {
                  "database": "${IcebergDatabase}",
                  "table": "${IcebergSubjectTermsByProjectTermTable}",
                  "region": "${AWSRegion}"
                }
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.clearTablesResult",
      "Next": "MaterializeAllProjects",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "MaterializeAllProjects": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startJobRun.sync",
      "Parameters": {
        "ApplicationId": "${EMRServerlessApplicationId}",
        "ExecutionRoleArn": "${EMRExecutionRoleArn}",
        "Name.$": "States.Format('MaterializeAllProjects-{}', $.validation.Payload.runId)",
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "s3://${PheBeeBucketName}/scripts/rebuild/materialize_all_analytical_tables.py",
            "EntryPointArguments.$": "States.Array('--run-id', $.validation.Payload.runId, '--iceberg-database', '${IcebergDatabase}', '--evidence-table', '${IcebergEvidenceTable}', '--by-subject-table', '${IcebergSubjectTermsBySubjectTable}', '--by-project-term-table', '${IcebergSubjectTermsByProjectTermTable}', '--dynamodb-table', '${DynamoDBTableName}', '--region', '${AWSRegion}')",
            "SparkSubmitParameters": "--conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions --conf spark.sql.catalog.glue_catalog=org.apache.iceberg.spark.SparkCatalog --conf spark.sql.catalog.glue_catalog.warehouse=s3://${PheBeeBucketName}/iceberg-warehouse --conf spark.sql.catalog.glue_catalog.catalog-impl=org.apache.iceberg.aws.glue.GlueCatalog --conf spark.sql.catalog.glue_catalog.io-impl=org.apache.iceberg.aws.s3.S3FileIO --conf spark.sql.shuffle.partitions=2000"
          }
        },
        "ConfigurationOverrides": {
          "MonitoringConfiguration": {
            "S3MonitoringConfiguration": {
              "LogUri": "s3://${PheBeeBucketName}/emr-logs/"
            }
          }
        }
      },
      "ResultPath": "$.materializeResult",
      "Next": "ValidateMaterialization",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "ValidateMaterialization": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidateMaterializationFunction}",
        "Payload": {
          "runId.$": "$.validation.Payload.runId",
          "icebergDatabase": "${IcebergDatabase}",
          "evidenceTable": "${IcebergEvidenceTable}",
          "bySubjectTable": "${IcebergSubjectTermsBySubjectTable}",
          "byProjectTermTable": "${IcebergSubjectTermsByProjectTermTable}",
          "region": "${AWSRegion}",
          "baseline.$": "$.icebergBaseline.Payload"
        }
      },
      "ResultPath": "$.materializationValidation",
      "Next": "CheckMaterializationValidation",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "CheckMaterializationValidation": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.materializationValidation.Payload.valid",
        "BooleanEquals": false,
        "Next": "NotifyFailure"
      }, {
        "Variable": "$.materializationValidation.Payload.valid",
        "BooleanEquals": true,
        "Next": "CheckRebuildNeptune"
      }],
      "Default": "NotifyFailure"
    },

    "CheckRebuildNeptune": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.rebuildNeptune",
        "BooleanEquals": true,
        "Next": "GatherNeptuneBaselineStats"
      }],
      "Default": "NotifySuccess"
    },

    "GatherNeptuneBaselineStats": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GatherNeptuneBaselineStatsFunction}",
        "Payload": {
          "runId.$": "$.validation.Payload.runId",
          "icebergDatabase": "${IcebergDatabase}",
          "bySubjectTable": "${IcebergSubjectTermsBySubjectTable}",
          "region": "${AWSRegion}"
        }
      },
      "ResultPath": "$.neptuneBaseline",
      "Next": "InitializeClearGraph",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "ClearSubjectsGraph": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${ClearNeptuneGraphStateMachine}",
        "Input": {
          "batchSize.$": "$.batchSize",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "ResultPath": "$.clearGraphResult",
      "Next": "GenerateNeptuneTTL",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "GenerateNeptuneTTL": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startJobRun.sync",
      "Parameters": {
        "ApplicationId": "${EMRServerlessApplicationId}",
        "ExecutionRoleArn": "${EMRExecutionRoleArn}",
        "Name.$": "States.Format('GenerateNeptuneTTL-{}', $.validation.Payload.runId)",
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "s3://${PheBeeBucketName}/scripts/rebuild/generate_neptune_ttl_from_analytical.py",
            "EntryPointArguments.$": "States.Array('--run-id', $.validation.Payload.runId, '--iceberg-database', '${IcebergDatabase}', '--by-subject-table', '${IcebergSubjectTermsBySubjectTable}', '--bucket', '${PheBeeBucketName}', '--dynamodb-table', '${DynamoDBTableName}', '--region', '${AWSRegion}')",
            "SparkSubmitParameters": "--conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions --conf spark.sql.catalog.glue_catalog=org.apache.iceberg.spark.SparkCatalog --conf spark.sql.catalog.glue_catalog.warehouse=s3://${PheBeeBucketName}/iceberg-warehouse --conf spark.sql.catalog.glue_catalog.catalog-impl=org.apache.iceberg.aws.glue.GlueCatalog --conf spark.sql.catalog.glue_catalog.io-impl=org.apache.iceberg.aws.s3.S3FileIO"
          }
        },
        "ConfigurationOverrides": {
          "MonitoringConfiguration": {
            "S3MonitoringConfiguration": {
              "LogUri": "s3://${PheBeeBucketName}/emr-logs/"
            }
          }
        }
      },
      "ResultPath": "$.ttlResult",
      "Next": "StartNeptuneBulkLoad",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "StartNeptuneBulkLoad": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${StartNeptuneBulkLoadFunction}",
        "Payload": {
          "run_id.$": "$.validation.Payload.runId",
          "ttl_prefix.$": "States.Format('s3://${PheBeeBucketName}/rebuild/{}/neptune/', $.validation.Payload.runId)",
          "load_type": "subjects"
        }
      },
      "ResultPath": "$.loadStart",
      "Next": "CheckSubjectLoadsExist",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "CheckSubjectLoadsExist": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.loadStart.Payload.body.total_loads",
        "NumericGreaterThan": 0,
        "Next": "WaitForLoad"
      }],
      "Default": "ValidateNeptune"
    },

    "WaitForLoad": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckLoadStatus"
    },

    "CheckLoadStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CheckNeptuneBulkLoadStatusFunction}",
        "Payload": {
          "load_id.$": "$.loadStart.Payload.body.loads[0].load_id"
        }
      },
      "ResultPath": "$.loadStatus",
      "Next": "EvaluateLoadStatus",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "EvaluateLoadStatus": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.loadStatus.Payload.body.status",
        "StringEquals": "LOAD_COMPLETED",
        "Next": "ValidateNeptune"
      }, {
        "Variable": "$.loadStatus.Payload.body.status",
        "StringEquals": "LOAD_FAILED",
        "Next": "NotifyFailure"
      }],
      "Default": "WaitForLoad"
    },

    "ValidateNeptune": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidateNeptuneFunction}",
        "Payload": {
          "runId.$": "$.validation.Payload.runId",
          "icebergDatabase": "${IcebergDatabase}",
          "bySubjectTable": "${IcebergSubjectTermsBySubjectTable}",
          "region": "${AWSRegion}",
          "baseline.$": "$.neptuneBaseline.Payload"
        }
      },
      "ResultPath": "$.neptuneValidation",
      "Next": "CheckNeptuneValidation",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "NotifyFailure",
        "ResultPath": "$.error"
      }]
    },

    "CheckNeptuneValidation": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.neptuneValidation.Payload.valid",
        "BooleanEquals": false,
        "Next": "NotifyFailure"
      }, {
        "Variable": "$.neptuneValidation.Payload.valid",
        "BooleanEquals": true,
        "Next": "NotifySuccess"
      }],
      "Default": "NotifyFailure"
    },

    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NotifyRebuildCompleteFunction}",
        "Payload": {
          "status": "SUCCESS",
          "state.$": "$"
        }
      },
      "End": true
    },

    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NotifyRebuildFailureFunction}",
        "Payload": {
          "status": "FAILED",
          "state.$": "$"
        }
      },
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Cause": "Rebuild materialized data failed",
      "Error": "RebuildError"
    }
  }
}
